*.pyc
__pycache__
*.sqlite3
.dockerignore
.git
.gitignore
.gitattributes
.idea
.vscode
.env
venv
docker-compose.yml
docker-compose-accept.yml
bitbucket-pipelines.yml
Dockerfile
Dockerfile.prod
README.md
env.example
