[django]
ALL_HOSTS=localhost,backend
ALL_ORIGINS=http://localhost,http://backend,http://localhost:80,http://backend:80,http://localhost:8000,http://backend:8000
LOG_LEVEL=DEBUG
MODE_DEBUG=1


[database]
DB_USER=agrobusiness
DB_PASS=agro123
DB_NAME=postgres
DB_PORT=5432
DB_HOST=database
DB_DEBUG=1
